# Ignore trash folder
.Trash-0/

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/

# Volúmenes de bases de datos y almacenamiento de objetos
postgres_data/
minio/